.postList {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 3rem;
}

.postList li {
    list-style: none;
    flex: 1 1 calc(25% - 1rem);
    max-width: 400px;
    margin-bottom: 1rem;
}