.post {
    background-color: #f2e5ff;
    color: #22015a;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    z-index: 1;
    box-shadow: 4px 4px 0 #22015a;
    border-radius: 6px;
}

.post:hover {
    transform: translateY(-4px);
    box-shadow: 8px 8px 0 #22015a;
}

.post > h1 {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 0.5rem;
    background: #4c05d0;
    color: #e6ddf9;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.post > p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.author {
    font-size: 0.85rem;
    font-style: italic;
    font-weight: 600;
    color: #4c05d0;
    background: #e6ddf9;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}